.box {
  width: 8rem;
  height: 8rem;
  background-color: rgb(240, 112, 112);
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  align-items: center;
  border: 2px solid blue;
  color: aliceblue;
}